body {
    position: relative;
    font-family: georgia, serif;
    width: 760px;
    margin: 30px auto 50px;
    color: #777;
    letter-spacing: -0.05em;
    font-size: 20px;
    background: url(background.jpg) repeat-x top left;;
}


canvas {
    display: block;
    width: 900px;
    margin: 0 auto 20px;
    cursor: crosshair;
}